/*
Theme Name:HC Desenvolvimentos
Theme URI: https://www.desenvolvimentos.com.br
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: desenvolvimentos
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Desenvolvimentos v1)
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA
*/
*{
  margin: 0;
  padding: 0;
}
p,h1,h2,h3,h4{
  margin:0;
}
ul{
  padding: 0;
  margin:0;
}
body{
  
 font-family: 'Lato', sans-serif;
}
.topo {
  text-align: center;
  padding: 60px 10px 60px;
}

  .topo img{
  
  }

/* PÁGINA INICIAL */
  .pg-inicial{

  } 
    .pg-inicial .sessaoCalculadora{
      background: url(../img/imagemdefundo.png);
      background-position: right;
      min-height: 500px;
      background-repeat: no-repeat;
      padding-top: 30px;
    }
      .pg-inicial .sessaoCalculadora h6{

      }
      .pg-inicial .sessaoCalculadora .formCalculadora{
        background: #f8ef27;
        max-width: 1050px;
        padding: 130px 10px 45px;
        min-height: 445px;
        position: relative;
        left: 137px;
      }
      .pg-inicial .sessaoCalculadora .formCalculadora .form{
        max-width: 425px;
        margin: auto;
        float: right;
        width: 100%;
      }
      .pg-inicial .sessaoCalculadora .formCalculadora .form .areaInput{

      }
      .pg-inicial .sessaoCalculadora .formCalculadora .form .areaInput input{
        display: block;
        width: 100%;
        max-width: 190px;
        margin: 0 auto;
        border: solid 1px;
        padding: 10px;
        border-radius: 5px;
        height: 40px;
        margin-bottom: 15px;
         font-size: 12px;
      } 
      .pg-inicial .sessaoCalculadora .formCalculadora .form .areaInput button{
        background: #9cb843;
        color: #fff;
        border: none;
        display: block;
        width: 100%;
        max-width: 190px;
        margin: 45px auto 0;
        height: 40px;
        border-radius: 5px;
      }
      /* Chrome, Safari, Opera */
      .pg-inicial .sessaoCalculadora .formCalculadora .form .areaInput input::-webkit-input-placeholder {

        font-size: 12px;
      }

      /* Firefox 18- */
      .pg-inicial .sessaoCalculadora .formCalculadora .form .areaInput input:-moz-placeholder {

        font-size: 12px;
      }

      /* Firefox 19+ */
      .pg-inicial .sessaoCalculadora .formCalculadora .form .areaInput input::-moz-placeholder {
        font-size: 12px;

      }

      /* IE10+ */
      .pg-inicial .sessaoCalculadora .formCalculadora .form .areaInput input:-ms-input-placeholder {
        font-size: 12px;

      }
      .pg-inicial .sessaoCalculadora .formCalculadora .form .areaInput select{
        display: block;
        width: 100%;
        max-width: 190px;
        margin: 0 auto;
        border: solid 1px;
        padding: 10px;
        border-radius: 5px;
        height: 40px;
        margin-bottom: 15px;
         font-size: 12px;
      }
      .pg-inicial .sessaoCalculadora .formCalculadora .form .areaTexto{

      }
        .pg-inicial .sessaoCalculadora .formCalculadora .areaTexto p{
          font-family: 'Lato', sans-serif;
          font-size: 36px;
          font-weight: 800;
          max-width: 450px; 
          line-height: 45px;
         padding-left: 20px;
        }
        .pg-inicial .sessaoCalculadora .formCalculadora .areaTexto b{
          font-weight: 800;
          color: #fff;
          background: #9cb843;
          padding:0 5px;
        }
  .infoResultadoGrafico{
    max-width: 950px;
    margin: 0 auto;
  }
    .infoResultadoGrafico h6{
      font-family: 'Lato', sans-serif;
      font-size: 30px;
      font-weight: 600;
      text-align: center;
      margin: 0 auto;
      padding: 40px 10px;
      max-width: 825px;

    }
    .infoResultadoGrafico h6 b{
      background: #f8ef27;
    }
  .infoResultadoGrafico .resultInfos{
    max-width: 310px;
    margin: 0 auto;
  }
    .infoResultadoGrafico .resultInfos span{
      text-align: left;
      display: block;
      font-size: 30px;
      text-transform: capitalize;
      font-weight: 500;
      margin-bottom: 25px;
    }
    .infoResultadoGrafico .resultInfos .item{
      margin-bottom: 50px;
    } 
      .infoResultadoGrafico .resultInfos .item .tituloResult{
        color: #000;
        font-size: 26px;
        text-align: left;
      }
      .infoResultadoGrafico .resultInfos .item .deskResult{
        background: #f8ef27;
        max-width: 262px;
        padding: 8px 10px;
        font-size: 20px;
      }













 .cognito #c-submit-button{
    padding: 0px 50px;
    font-size: 20px;
    font-weight: 500;
 }

body {
    overflow-x: hidden;

}

form {
    width: 100%;
    min-width: 100%;
}

form {
    left: 20vw;
    position: relative;

}

div#solicitar-orcamento {
    opacity: 0;
}

.graficos {
  max-width: 500px;
}

div#solicitar-orcamento p{
   font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    padding: 40px 10px;
    max-width: 825px;
}
  div#solicitar-orcamento p b{
    background: #f8ef27;
  }
  div#solicitar-orcamento button{
    background: #9cb843;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    max-width: 190px;
    margin: 45px auto 50px;
    height: 40px;
    border-radius: 5px;
  }



.grafico2 {
    
    /* transform: scale(0.7); */
  opacity:0;
  transition: 1s all ease;
}
.grafico-direita {
     
}

.grafico2.grafico-direita {
    
}

.grafico2 {
   
}

.chartjs-render-monitor {
    width: 100%!important;
    height: auto!important;
}

.grafico2 {
    border-radius: 20px;
}

div#conteudo-grafico {
    border-radius: 18px 18px 0px 0px;
}

.grafico2 {
  
}



#resultado {
opacity:0;
transition: 1.5s all ease;
}

#simulado {

transition: 0.5s all ease;

}

#conteudo-grafico{
display:none}



textarea:focus, input:focus, select:focus, button, .cognito #c-submit-button {

    outline: gray;
} 

tr#resultadotitulo td {
    border: 1px solid orangered;
}

tr#resultadovalor td {
    border: 1px solid #69a687;
    
}

div#title-resultado {
    font-size: 5ch;
    text-align: center;
}

div#title {
    font-size: 5ch;
    text-align: center;
    /* margin-left: 40px; */
}

div#subtitle {
    text-align: center;
}

.ocultar{

display:none;

}

img.logoHome {
    zoom: 0.8;
}

table {
    border: none;
}

tbody {
    border: none;
}

tr {
    border: none;
}

td {
    border: none;
}

form {

display:none;

}

table {
    min-width: 100%;

}



td {
    padding: 10px;
    min-width: 100%;
  text-align: center;
    padding-left: 25px;
}



#resultado td {
     padding: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
}

#resultado td {
    font-weight: bold;
}

#resultadotitulo td {
    font-weight: initial;
}

#resultado td {
    box-shadow: 0px 2px 10px -2px grey;

    max-width: 115px;
    position: relative;
}

tr#resultadovalor {
    color: #69a687;
}

td {
    border-radius: 10px;
}

.logoHome {
    position: relative;
    text-align: center;
    left: 50%;
    margin-left: -87px;
}

div#resultado {
    text-align: center;
}

div#conteudo-grafico2 {
    background: transparent;
    color: #000;
    font-size: 24px;
    margin: 0;
    padding: 0;
    max-width: 400px;
    margin: 0 auto 15px;
}
div#conteudo-grafico {
    background: transparent;
    color: #000;
    font-size: 24px;
    margin: 0;
    padding: 0;
    max-width: 400px;
    margin: 0 auto 15px;
}




</style>

<style>

button, .cognito #c-submit-button {
    background: white;
    border-radius: 30px;
    width: 20ch;
    height: 4ch;
    font-size: 15px;
    border-color: orangered;
    transition: 0.3s all ease;
  font-family: 'Roboto', sans-serif;
  
}

button:hover ,.cognito #c-submit-button:hover{

background: orangered;
color: white;
border: 3px solid #ccc;

}

select {
    text-align-last: center;
}


/* FORMULÁRIO */
form{
  left: 0;
}

@media(max-width: 1360px){
  .pg-inicial .sessaoCalculadora .formCalculadora{
    left: 0;
  }
  .pg-inicial .sessaoCalculadora .formCalculadora{
    max-width: 844px;
  }
  .pg-inicial .sessaoCalculadora .formCalculadora .form{
    float: initial;
  }
  .pg-inicial .sessaoCalculadora .formCalculadora .areaTexto p{
    font-size: 31px;
    max-width: 100%;
    line-height: 42px;
    padding-left: 0;
  }
}
@media(max-width: 768px){
  .pg-inicial .sessaoCalculadora .formCalculadora .form{
        margin-bottom: 20px;
  }
  .pg-inicial .sessaoCalculadora .formCalculadora{
    padding: 20px 10px 10px;
    min-height: 363px;
  }
  .pg-inicial .sessaoCalculadora .formCalculadora .areaTexto p{
    text-align: center;
  }
}

@media(max-width: 625px){
  .pg-inicial .sessaoCalculadora .formCalculadora .areaTexto p, .infoResultadoGrafico h6,div#solicitar-orcamento p{
    font-size: 21px;
    max-width: 100%;
    line-height: 22px;
  }
  div#conteudo-grafico,div#conteudo-grafico2{
    text-align: center;
    line-height: 20px;
    font-size: 20px;
  }
  .infoResultadoGrafico .resultInfos .item .tituloResult{
    text-align: center;
  }
  .infoResultadoGrafico .resultInfos .item .deskResult{
    margin: 0 auto;
  }
  .infoResultadoGrafico .resultInfos span{
    text-align: center;
  }
}